body {
  box-sizing: border-box;
  background-color: #0e213a;
  margin: 0;
  padding: 20px;
}
 
.filterDiv {
  background-color: #5a4252;  
  color: #ffffff;
  width: 160px;
  height: 80px;
  text-align: center;
  display: none;          /* Hidden by default */
  margin: 2px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  /* Flex properties for centering content */
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Stack content vertically if needed */
}

.show {
  display: flex; 
  align-items: center;
  justify-content: center;
}

.container {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  gap: 4px;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #7a002b; 
  cursor: pointer;
  color: white;
  margin: 2px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #100418;
  color: white;
}

.btn.active {
  background-color: #493f4f;
  color: white;
}

a {
  color: white;
}

h1 {
  color: white;
  text-align: center;
}
